# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# VS Code Settings (Optional)
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# Generated Charts (Optional)
static/charts/*.png